
#page-shop-list-dash {
    width: 100%;
    background-color: white;
    font: 700 3rem Rancho;
    min-height: 100vh;
}

#page-shop-list-dash main {
    background-color: white !important;
    width: 100%;
    max-width: 100%;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    font: 400 1.4rem Poppins;
    padding-bottom: 8em;
}

#page-shop-list-dash main .container {
    max-width: 80%;
    margin: 0rem auto;
    text-align: justify;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}

#page-shop-list-dash main h1 {
    margin-bottom: 2rem;
    margin-top: 0;
    text-align: center;
    height: 8rem;
    width: 100%;
    font: 400 2rem Poppins;
    justify-self: center;
    display: flex;
    flex-direction: row;
}
#page-shop-list-dash main .botao-alternar{
    width: 80%;
    height: 6rem;
    padding: 1rem;
    margin: 0 auto;
    background-color: #2F4F4F;
    color: white;
    border: 0;
    cursor: pointer;
    font: 700 1.6rem Poppins;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
}
#page-shop-list-dash main .botao-aba-esq {
    width: 100%;
    color: #FF6347;
    border-bottom: 2px solid #FF6347;
    cursor: pointer;
    font: 700 1.6rem Poppins;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: width .2s;
}

#page-shop-list-dash main .botao-aba-dir {
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
    color: grey;
    border: 0;
    cursor: pointer;
    font: 700 1.6rem Poppins;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
}

#page-shop-list-dash main div .categoria {
    color: #2F4F4F;
    font: 600 2rem Poppins;
    margin-top: 2rem;
    margin-left: 10%;
}

@media(min-width: 800px) {
    #page-shop-list-dash main .botao-alternar{
        width: 20%;
        margin-left: 1rem;
    }
    #page-shop-list-dash {
        max-width: 100%;
    }
    #page-shop-list-dash main div .container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .page-header-dash {
        height: 15rem;
        width: 100%;
    }
    .page-header-dash .header-content {
        flex: 1;
        max-width: 700px;
        margin: 0 auto;
        padding-bottom: 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

}