#page-landing {
    position: absolute;
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    color: black;
    background-color: white;
}

#page-landing-content {
    margin-top: 10rem;  
}

.landing p {
    text-align: left;
}

 .subtitle {
    display: block;
    text-align: left;
    font: 700 4rem Poppins;
}

.nav {
    width: fit-content;
    margin-left: 0;
    float: right;
}

.logo-container-main {
    align-content: space-between;
    z-index: 100;
    width: 100%;
    background-color: white;
    padding: 1rem;
    font: 500 1rem Poppins;
    position: fixed !important;
    display: flex;
    justify-content: space-between;
}
.logo-container-main a {
    text-decoration: none;
}

.logo-container-main .nav a {
    color: #2F4F4F;
    font: 700 1.6rem Poppins;
    text-align: center;
    padding: 1rem;
}

.logo-container-main .nav .cadastro {
    display: none;
}

.logo-container-main .logo {
    float: left;
    font: 500 4.5rem Rancho;
    border: none;
    color: #FF6347;
    background-color: white;
}

.buttons-container {
    display: flex;
}

.buttons-container a {
    font: 700 1.6rem Poppins;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 2rem;
    border-radius: 1rem;
    background-color:  #FF6347;
}

.footer-container {
    background-color: #FF6347;
    color: white;
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: row;
    font: 400 1.4rem Poppins;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.footer-container .conections {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0.4rem;
}
.footer-container .contact {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0.4rem;
}

.footer-container a {
    text-decoration: none;
    color: white;
}

#page-landing-content .landing .text {
    text-align: justify;
}

.landing-shops {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    background-color: white;
    width: 100%;
}

.landing-shops .shop-card {
    color: #2F4F4F;
    min-width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    justify-items: center;
    padding: 0.5rem;
    text-decoration: none;
}

.landing-shops .shop-card .info {
    font-size: 1.3rem;
    height: 30rem;
    width: 100%;
    height: 38rem;

}

.landing-shops .shop-card .info .page-header {
    height: 37rem !important;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px grey;
}

.landing-shops .shop-card .info .page-header .header-content {
    padding-bottom: 0 !important;
}

.landing-shops .buttons {
    width: 100%;
}

.landing-shops .shop-card p {
    text-align: center;
}

.landing-shops .shop-card a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button-contato {
    justify-content: center !important;
}

.landing-shops .shop-card a img{
    width: 4rem;
}

h1 {
    font: 700 3rem Poppins;
    color: black;
    margin-bottom: 2rem;
}

h1 img {
    height: 15rem;
    display: none;
}

.chamada {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 50vh;
}

.chamada a {
    margin: 2rem auto;
}

.landing {
    padding: 1rem;
}

.capa {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    margin-bottom: 3rem;
}

.capa img {
    justify-self: center;
    width: fit-content;    
    object-fit: cover;
    box-shadow: 0px 0px 10px 0px grey;
    border-radius: 2rem;
}

ul {
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin: 0;
}

li {
    padding-left: 16px;
}

li:before {
    content: '\➥'; /* Insert content that looks like bullets */
    padding-right: 8px;
    color:  #FF6347; /* Or a color you prefer */
}

.buttons-area .buttons-container a{
    margin: 2rem auto;
    width: 100%;
    padding: 2rem;
}

.subtitle {
    padding-top: 8rem;
    margin: 1rem;
    height: 45vh;
    color: #FF6347;
}
#text1 {
    margin: 1rem;
    height: 30vh;
}
#text2 {
    height: 15vh;
}

.info-3 {
    margin: 0 auto;
    background-color: snow;
    box-shadow: 0px 0px 5px 5pxwhitesmoke;
    display: flex;
    flex-direction: column;
    column-gap: 2rem;
    font: 400 1.8rem Poppins;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.landing-image {
    width: 100%;
    text-align: left;
    padding: 1rem;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

@media (min-width: 1000px) {

    .logo-container-main {
        z-index: 100;
        width: 100%;
        background-color: white;
        font: 500 1rem Poppins;
        position: fixed !important;
        display: flex;
        justify-content: space-between;
        padding-left: 8rem;
        padding-right: 8rem;
        box-shadow: 0px 3px 3px lightgray;
    }

    .logo-container-main .nav .cadastro {
        color: white;
        background-color: #FF6347;
        margin-left: 2rem;
        text-align: center;
        padding: 1rem;
        font: 500 1.6rem Poppins;
        border-radius: 1rem;
    }

    .landing-shops .shop-card {
        min-width: 33.3% !important;
    }
    .landing-shops .shop-card .info {
        font-size: 1.6rem;
    }
    
    #page-landing {
        display: flex;
        flex-direction: column;
    }

    #page-landing-content {
        margin-top: 10rem;
        background-color: white;
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .landing {
        width: 80vw;
        height: 100vh;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: 40% 15% 15% 15%;
        grid-template-areas: 
        "title capa"
        "text3 capa"
        "buttons capa"
        "text2 capa";
        column-gap: 1rem;
    }
    .capa {
        border-radius: 2rem;
        height: 90vh;
        width: fit-content;
        justify-self: center;
        overflow: hidden;
        margin-left: 3rem;
        justify-content: flex-end;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    }

    .capa img {
        margin-right: 0;
    }
    .subtitle {
        align-self: flex-end;
        grid-area: title;
    }
    #text1 {
        grid-area: text1;
    }
    #text2 {
        grid-area: text2;
    }
    #text3 {
        grid-area: text3;
    }
    .buttons-area {
        grid-area: buttons;
        text-align: center;
        align-items: center;
    }
    .buttons-area .buttons-container a  {
        width: 100%;
    }
    .landing-image {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 5%;
        padding-right: 5%;
    }
    .info-3 {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        column-gap: 2rem;
        padding-left: 5%;
        padding-right: 5%;
        box-shadow: 0px 0px 5px 5pxwhitesmoke;
        font: 400 1.8rem Poppins;
    }
    .footer-container {
        margin-top: 4rem;
    }
}