#page-landing {
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    color: antiquewhite;
    background-color: #2F4F4F;
}

#page-landing-content {
    background-color: #2F4F4F;
    width: 100%;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
}

.landing p {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

 .subtitle {
    display: block;
    text-align: center;
    font-size: 2.2rem;
}

.logo-container {
    box-shadow: 0px 8px 5px 0px #1b2e2e;
    height: 5rem;
    width: 100%;
    text-align: right;
    background-color: antiquewhite;
    padding: 1rem;
    font: 500 1rem Poppins;
    position: fixed;
    display: block;
}

.logo-container a {
    text-decoration: none;
}

.logo-container .nav {
    height: 3.2rem;
    display: flex;
    float: right;
}

.logo-container .nav a {
    height: 3.2rem;
    line-height: 3.2rem;
    color: antiquewhite;
    background-color: #2F4F4F;
    margin-left: 0.2rem;
    width: 8rem;
    text-align: center;
    border: 1px solid #2F4F4F;
    border-radius: 0.5rem;
    transition: background-color 0.2s;
    transition: color 0.2s;
    
}

.logo-container a:hover {
    color: #2F4F4F;
    background-color: antiquewhite;
}

.logo-container .logo {
    float: left;
    font: 500 2.5rem Rancho;
    border: none;
    color: #2F4F4F;
    background-color: antiquewhite;
}

.hero-image {
    border-radius: 3rem;
    border:solid 1px;
    width: 100%;
}

.buttons-container {
    display: flex;
    justify-content: center;
}

.buttons-container a {
    width: 100%;
    height: 10.4rem;
    border-radius: 0.8rem;
    font: 700 1.6rem Poppins;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #2F4F4F;
    background-color: antiquewhite;
    transition: background-color 0.2s;
}

.buttons-container a:hover {
    background-color: rgb(161, 160, 159);
}

.footer-container {
    background-color: antiquewhite;
    color: #2F4F4F;
    width: 100%;
    height: 12rem;
    display: flex;
    flex-direction: row;
    font: 400 1.4rem Poppins;
    text-align: center;
}

.footer-container .conections {
    display: flex;
    flex-direction: column;
    width: 33%;
    border-right: 1px solid;
    padding: 0.4rem;
}
.footer-container .suport {
    display: flex;
    flex-direction: column;
    width: 33%;
    border-right: 1px solid;
    padding: 0.4rem;
}
.footer-container .contact {
    display: flex;
    flex-direction: column;
    width: 33%;
    padding: 0.4rem;
}

.footer-container a {
    text-decoration: none;
    color: #2F4F4F;
}

#page-landing-content .landing .text {
    text-align: justify;
}

.landing-shops {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    background-color: white;
    
}

.landing-shops img {
    max-width: 80%;
    margin: 0 auto;
}

.landing-shops .shop-card {
    background-color: antiquewhite;
    color: #2F4F4F;
    padding: 1rem;
    min-width: 49.5% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    justify-items: center;
    border-radius: 0.8rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.landing-shops .shop-card .info {
    font-size: 1.3rem;
}

.landing-shops .shop-card a {
    width: 100%;
    height: 5rem;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color:  #2f4f2fbd;
    color: antiquewhite;
    border-radius: 0.8rem;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.2s;
    text-decoration: none;
}

.landing-shops .shop-card a img{
    width: 4rem;
}

::-webkit-scrollbar-track {
    border-radius: 0.8rem;
    background-color: snow;
}
::-webkit-scrollbar {
    border-radius: 0.8rem;
    background: snow;
}
::-webkit-scrollbar-thumb {
    border-radius: 0.8rem;
    background: #1b2e2e;
}

@media (min-width: 800px) {
    .landing-shops .shop-card {
        min-width: 24.6% !important;
    }
    .landing-shops .shop-card .info {
        font-size: 1.6rem;
    }
    
    #page-landing {
        display: flex;
        flex-direction: column;
    }
    #page-landing-content {
        max-width: 80vw;
        
    }
    .landing {
        margin-bottom: 5rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10% 18% 15% 2fr;
        grid-template-areas: 
        "title title"
        "text3 text2"
        "buttons buttons"
        "hero hero"
        ;
    }
    .subtitle {
        grid-area: title;
    }
    #text1 {
        grid-area: text1;
    }
    #text2 {
        grid-area: text2;
    }
    #text3 {
        grid-area: text3;
    }
    .buttons-area {
        grid-area: buttons;
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
        width: 40%;
        margin: 0 auto;
        align-self: center;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-self: center;
    }
    .buttons-area .buttons-container a  {
        padding: 2rem;
        height: 7rem;
        width: 100%;
        
    }
    .landing-image {
        grid-area: hero;
        width: 100%;
    }
    .footer-container {
        margin-top: 4rem;
    }
}