#page-shop-list {
    width: 100%;
    height: 100%;
    background-color: white;
    font: 700 3rem Rancho;
}

#search-itens {
    margin-top: 0.3rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    margin-bottom: 0.5rem;
    width: 100%;
}

#page-shop-list main {
    font: 400 1.4rem Poppins;
    background-color: whitesmoke;
    width: 100%;
    max-width: 100%;
    padding-top: 0;
    display: flex;
    flex-direction: column;
}
#page-shop-list main .container {
    max-width: 800px;
    margin: 0rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}

h4 {
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
}

.button-abrir {
    text-decoration: none;
    color: white;
}

#page-shop-list main .categoria {
    color: black;
    font: 700 2rem Poppins;
    margin-top: 1rem;
    text-align: center;
}

#page-shop-list .category {
    width: 100%;
    padding: 1rem;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    column-gap: 2px;
    overflow-x: scroll;
    overflow-y: hidden;
}

#page-shop-list .category a {
    border-radius: 0.4rem;
    padding: 1rem;
    min-width: fit-content;
    border: 1px solid grey;
    cursor: pointer;
    height: 4rem;
}

#page-shop-list main .pagination {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: space-between;
    align-items: center;
    padding: 1rem;
    font: 700 1.6rem Poppins;
    margin: 0 auto;
    overflow-x: scroll;
    width: 100%;
}
#page-shop-list main .pagination .pagination-button {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    padding: 1rem;
    margin: 0 auto;
}

#page-shop-list main .pagination .pagination-button button {
    color: #426f42;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-right: 2px;
    margin-left: 2px;
}

#page-shop-list main .pagination .pagination-button .pagination-item {
    padding: 1rem;
    cursor: pointer;
    border: 1px solid  #426f42;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 5px;
}

#page-shop-list main .pagination .pagination-button .pagination-item-selected {
    padding: 1rem;
    cursor: pointer;
    border: 1px solid  #426f42;
    margin-left: 2px;
    margin-right: 2px;
    background-color:  #2f4f2fbd;
    border-radius: 5px;
}

#footer-shop {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color:  #2F4F4F;
    color: white;
    padding: 4rem;
    margin-top: 2rem !important;
    font: 700 1.8rem Poppins !important;
}

#footer-shop .divulgue a {
    padding: 1rem;
    width: 100%;
    height: 5rem;
    margin-top: 1rem;
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color:  #2f4f2fbd;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.2s;
}

#footer-shop .contato a {
    width: 100%;
    height: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color:  #2f4f2fbd;
    color: white;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.2s;
    text-decoration: none;
}

#footer-shop .contato a img{
    width: 4rem;
}

#search-itens .input-block {
    color: unset;
}

#search-itens .select-block label, #search-itens .textarea-block label, #search-itens .input-block label {
    color: unset;
}

#search-itens .button-back {
    color: unset;
}

@media(min-width: 800px) {
    
    #page-shop-list main .pagination {
        overflow-x: unset;
        align-items: center;
    }

    #page-shop-list .category {
        overflow-y: hidden;
        overflow-x: hidden;
        width: unset;
    }
    #page-shop-list main img {
        max-width: 100%;
        margin: 0 auto;
    }
    #footer-shop {
        flex-direction: row;
        justify-content: space-around;
    }
    #footer-shop .divulgue {
        width: 40%;
    }
    #footer-shop .contato {
        width: 40%;
    }
    #page-shop-list {
        max-width: 100vw;
        display: flex;
        flex-direction: column;
    }
    #page-shop-list main .container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #page-shop-list #search-itens .input-block {
        margin-top: 9px;
        width: 100%;
    }
    #page-shop-list #search-itens {
        justify-items: center;
        align-items: center;
        grid-template-columns: 2fr 1fr;
        column-gap: 5px;
    }

    #search-itens {
        height: 6rem;
    }
}