
#page-shop-list-dash {
    width: 100%;
    background-color: white;
    font: 700 3rem Rancho;
    min-height: 100vh;
}

#page-shop-list-dash main {
    background-color: white !important;
    width: 100%;
    max-width: 100%;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    font: 400 1.4rem Poppins;
}
#page-shop-list-dash main .container {
    max-width: 800px;
    margin: 0rem auto;
    text-align: justify;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}

.page-header-dash {
    display: flex;
    flex-direction: column;
    background-color: #2F4F4F;
}

.page-header-dash .top-bar-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: floralwhite;
    padding: 1.6rem 0;
}

.page-header-dash .top-bar-container a {
    text-decoration: none;
    color: white;
    font: 700 2.3rem Rancho;
}

.page-header-dash .header-content {
    width: 96%;
    margin: 0 auto;
    position: relative;
    margin: 0.5rem auto;
    color: white;
    font: 700 2rem Poppins;
}

.page-header-dash .header-content p {
    width: 96%;
    margin: 0 auto;
    position: relative;
    margin: 0.5rem auto;
    color: white;
    font: 400 1.6rem Poppins;
}

#page-shop-list-dash main h1 {
    margin-bottom: 2rem;
    margin-top: 0;
    text-align: center;
    background-color: #2F4F4F;
    color: white;
    height: 8rem;
    width: 100%;
    font: 400 2rem Poppins;
    justify-self: center;
}

#page-shop-list-dash main div .categoria {
    color: #2F4F4F;
    font: 700 2.3rem Poppins;
    text-align: center;
}

@media(min-width: 800px) {
    #page-shop-list-dash {
        max-width: 100%;
    }
    #page-shop-list-dash main div .container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .page-header-dash {
        height: 15rem;
        width: 100%;
    }
    .page-header-dash .header-content {
        flex: 1;
        max-width: 700px;
        margin: 0 auto;
        padding-bottom: 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

}