#page-user-form-dash {
    width: 100%;
    background-color: white;
    font: 700 3rem Rancho;
}

#page-user-form-dash main {
    background-color: white !important;
    width: 100%;
    max-width: 100%;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    font: 400 1.4rem Poppins;
}

#page-user-form-dash main .container {
    max-width: 800px;
    margin: 0rem auto;
    text-align: justify;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}

#page-user-form-dash main fieldset {
    width: 100%;
    background-color:  #2F4F4F;
    color: white;
    border: 0;
    padding: 1rem;
    padding-bottom: 3rem;
    margin: 0 auto 3rem;
}

#page-user-form-dash main .schedule-item {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 0;
}

#page-user-form-dash main .schedule-item input {
    margin-left: 0.5rem;
    margin-bottom: 0;
    height: 6rem;
}

#page-user-form-dash main .schedule-item .input-block + .input-block {
    margin-left: 0.1rem;
}

#page-user-form-dash main fieldset legend button:hover {
    color: #2f4f2f;
}

#page-user-form-dash main fieldset + fieldset {
    margin-top: 3rem;
}

#page-user-form-dash main fieldset legend {
    font: 700 2.4rem Poppins;
    color:#2F4F4F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 5rem;
    border-bottom: 1px solid snow;
}

#page-user-form-dash main fieldset textarea {
    width: 100%;
    height: 10rem;
    margin-top: 0;
    background-color: snow;
    border: 1px solid snow;
    outline: 0;
    padding: 0 1.6rem;
    font: 1.6rem;
    text-align: left;
}

#page-user-form-dash main fieldset .imagem-avatar {
    width: 100%;
    height: 5.6rem;
    margin-top: 0;
    color: #2F4F4F;
    background-color: snow;
    border: 1px solid snow;
    outline: 0;
    padding: 0 1.6rem;
    font: 1.6rem;
    text-align: left;
}

#page-user-form-dash main fieldset .imagem-avatar button {
    height: 5rem;
}

#page-user-form-dash main footer {
    width: 100%;
    background-color: #2F4F4F;
    border-top: 1px solid snow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1rem;
    margin-top: 1rem;
}

#page-user-form-dash main footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: white;
}

#page-user-form-dash main footer button, #page-user-form-dash main form button {
    width: 100%;
    height: 5.6rem;
    background-color: #426f42;
    color: white;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 1rem;
}

#page-user-form-dash main footer button:hover {
    background-color:#2f4f2f;
}

#page-user-form-dash main form {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

#page-user-form-dash main h1 {
    margin-bottom: 2rem;
    margin-top: 0;
    text-align: center;
    background-color: #2F4F4F;
    color: white;
    height: 8rem;
    width: 100%;
    font: 400 2rem Poppins;
    justify-self: center;
    display: flex;
    flex-direction: row;
}

#page-user-form-dash main .botao-aba-esq {
    width: 50%;
    padding: 1rem;
    margin: 0 auto;
    background-color: #2F4F4F;
    color: white;
    border: 0;
    cursor: pointer;
    font: 700 1.6rem Poppins;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
}

#page-user-form-dash main .botao-aba-dir {
    width: 50%;
    padding: 1rem;
    margin: 0 auto;
    background-color: #1b2e2e;
    color: white;
    border: 0;
    cursor: pointer;
    font: 700 1.6rem Poppins;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
}

#page-user-form-dash fieldset #label-file {
    background-color: #166296;
    color: #fff;
    cursor: pointer;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

@media(min-width: 700px ){
    #page-user-form-dash fieldset #label-file, #page-user-form-dash main form button {
        width: 50%;
        height: 5rem;
    }

    #page-user-form-dash {
        max-width: 100vw;
    }
    #page-user-form-dash main fieldset {
        background-color:  #2F4F4F;
        width: 80%;
        color: white;
        border: 0;
        padding: 1rem;
        padding-bottom: 3rem;
        margin: 0 10%;
    }

    #page-user-form-dash main footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        width: 80%;
        margin: auto 10%;
        padding: 2rem 2.4rem;
    }
    #page-user-form-dash main footer p {
        justify-content: space-between;
    }
    #page-user-form-dash main footer button {
        width: 50%;
    }

}