.shop-item {
    background-color: white;
    border: 1px solid snow;
    color: black;
    margin-top: 2.4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shop-item a {
    text-decoration: none;
    color: black;
}

.shop-item:hover {
    box-shadow: 0 0 1em #2F4F4F;
}


.shop-item header div {
    margin-top: 1rem;
}

.shop-item header div strong {
    display: block;
}

.shop-item > p {
    padding: 0 2rem;
}

.shop-item footer {
    padding: 0rem;
    margin-top: 0rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.shop-item footer .buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.shop-item footer p {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.shop-item footer p strong {
    font-size: 1.6rem;
    color: #2F4F4F;
}

.shop-item footer .buttons button {
    color: white;
    background-color: white;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.2s;
    border-radius: 0.4rem;
}

.shop-item footer button img{
    width: 4rem;
}
.shop-item footer p strong {
    margin-left: 1.6rem;
}
.shop-item footer a {
    color: white;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    padding-right: 4rem;
    text-decoration: none;
}

.shop-item footer a img{
    width: 4rem;
    height: 4rem;
}

@media(min-width: 800px) {
    .shop-item header, .shop-item footer {
        padding: 0rem;
    }
    .shop-item > p {
        padding: 0 3.2rem;
    }
}