.button-back {
    text-decoration: none;
    color: white;
    font: 700 1.6rem Poppins;
}

#item-description {
    width: 100%;
    position: absolute;
    top: 0;
    background-color: white;
}

.item {
    width: 95vw;
    margin-bottom: 30rem;
    height: min-content;
    margin: 0 auto;
    margin-top: -2.5rem;
    background-color: snow;
    border: 1px solid snow;
    color: black;
}

.item header {
    display: flex;
    flex-direction: column;
}

.item header img {
    align-self: center;
    justify-self: center;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.item p .description {
    text-align: justify;
}

.item footer {
    padding: 0rem;
    border-top: 1px solid #2F4F4F;
    margin-top: 2rem;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

.item footer p {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.item footer p strong {
    font-size: 1.6rem;
    color: #2F4F4F;
    display: inline;
}

.item footer a {
    width: 100%;
    height: 5rem;
    background-color:  #2F4F4F;
    color: white;
    ;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    padding-right: 4rem;
    text-decoration: none;
}

.item footer a img{
    width: 4rem;
    height: 4rem;
}

.item footer a:hover {
    background-color: green;
}

.item footer p strong {
    margin-left: 1.6rem;
}


@media(min-width: 700px) {

    .carousel {
        max-width: 70%;
    }
    
    .item header, .shop-item footer {
        padding: 1rem;
    }
    .item > p {
        padding: 0 3.2rem;
    }

    .item {
        width: 90vw;
        margin-top: -2.5rem;
    }

    .item header {
        width: 100%;
        padding: 2rem 2rem;
        display: flex;
        flex-direction: row;
    }
    .carousel-item-next, .carousel-item-prev, .carousel-item .active {
        display: none !important;
        transition: transform 0s ease, opacity .0s ease-out
    }

    .item header .info {
        width: 50% !important;
        margin-left: 2rem;
    }

    .item footer a {
        padding-right: 10rem;
        font-size: 2rem;
    }

    .item footer p strong {
        font-size: 3rem;
    }
    .item header div {
        margin-top: 0;
    }

    .button-back:hover {
        text-decoration: none;
        color: snow;
    }
}